<!DOCTYPE html>
<html>
<head>
	<link href="../Assets/css/style.css" rel="stylesheet" type="text/css">
	<title>Examen Unidad 1</title>
</head>
<body>
	<div class="divInput">
	    <span >Usuario:</span>
	    <input id="inputUsuario" type="text" name="nombre" class="inp" >
	    <br><br>
	    <span>Descripcion:</span>
	    <input id="inputDescripcion" type="text" name="nombre1" class="inp">
	    <br><br>
	     <span >Imagen:</span>
	    <input id="inputImagen" type="text" name="nombre1"class="inp" >
	    <br><br>
	    <button id="btnGuardar" onclick="guardar()">Guardar</button>
	    <hr>
    </div>

    <br>
    <div id="div1"></div>
    <script type="text/javascript" src="../Assets/js/script.js"></script>

</body>
</html>